.Container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  --node-line: #888;
  --node-background: #222;
}

.Header {
  gap: 4px;
  display: flex;
  padding: 4px;
}

.Panes {
  flex: 1;
  display: flex;
}

.FlowVis {
  flex: 1;
}

.Canvas {
  flex: 1;
  background-color: white;
}
