.Head {
    text-align: center;
    margin-bottom: 32px;
    font-family: "King Malik";
    font-size: 200px;
    color: var(--accent);
}

.Features {
    display: flex;
    justify-content: space-around;
}

.Feature {
    border: 1px solid var(--accent);
    border-radius: 16px;
    padding: 16px;
    min-width: 25%;
}
.Feature h3 {
    font-weight: normal;
    font-size: 32px;
    text-align: center;
    margin: 0 0 1em 0;
}
